body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #eee;     
}

.container1 {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;    
}

.container2 {
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;    
}

.title1 {
    padding-top: 18px;
    padding-bottom: 18px;
}

header {
    display: grid;
    grid-template-columns: 4fr 0.1fr 0.1fr;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
}

.icon {
    width: 28px;
    transition: 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.2);
}

.mainSession {
    background-image: url("img/img1-edit.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center center;
    min-height: 100vh;            
}

.title2 {    
    color: rgb(185, 185, 185);    
    padding-top: 40px;      
    font-size: 4rem;  
    font-family: 'Poppins', sans-serif;  
}

.newItem {
    color: #eee;
    display: flex;        
}

.newItem:after {
    content: "";
    display: table;
    clear: both;
}

#newInput {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 20%;
    padding: 10px;
    font-size: 1rem;
}

#newQuantity {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 8%;
    padding: 10px;
    font-size: 1rem;
}

#newPrice {
    margin: 0;
    border: 1px solid rgb(35, 32, 24);
    width: 5%;
    padding: 10px;
    font-size: 1rem;
}

.addBtn {
    padding: 9px 10px;
    background-color: rgb(53, 50, 43);
    color: #eee;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2px;
}

.addBtn:hover {
    background-color: #A66F00;
    color: #eee;
}

input::placeholder {
    font-family: "Roboto", sans-serif;    
}  

.addedItems {
    margin-top: 40px;    
    padding: 0;
    display: flex;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    cursor: pointer;
    position: relative;
    padding: 10px 6px 10px 8px;
    font-size: 1rem;
    transition: 0.2s;
    text-align: start;
}

table {
    background-color: #eee;
    width: 48%;    
}

tr:nth-child(odd){
    background-color: #eee;
}

th:nth-child(1){
    width: 40%;
}

th:nth-child(2){
    width: 10%;
}

th:nth-child(3){
    width: 12%;
}

th:nth-child(4){
    width: 1%;
}

tr:hover {
    background: rgb(185, 185, 185);
}

footer {
    display: flex;
    justify-content: center;        
}


/* Plugin simple anime */

.fadeInLeft {
    transform: translate3d(-20px, 0, 0);
}

[data-anime] {
    opacity: 0;
}

.anime {
    opacity: 1;
    transform: none;
    transition: transform 0.8s, opacity 0.8s;
}


/* Design responsivo com media queries */
@media (max-width: 1601px) {
    .container1, .container2 {
        max-width: 1200px;
    }
}

@media (max-width: 1401px) {
    .container1, .container2 {
        max-width: 1000px;
    }
}

@media (max-width: 1001px) {
    header {
        grid-template-columns: 4fr 0.2fr 0.2fr;
        gap: 16px;
    }

    .title1 {
        padding-top: 14px;
        padding-bottom: 14px;
    }

    .title1 img {
        width: 28%;
    }

    .icon {
        width: 20px;
    }
    
    .title2 {
        font-size: 2.8rem;
    }

    .mainSession {
        background-image: url("img/img-2.jpeg");
    }
}

@media (max-width: 601px) {
    header {
        grid-template-columns: 4fr 0.4fr 0.4fr;
        gap: 4px;
    }    

    .title1 img {
        width: 40%;
    }    

    .title2 {
        font-size: 2rem;
    }

    .mainSession {
        background-image: url("img/img-3.jpeg");
    }

    footer p {
        font-size: 0.7rem;
    }
}
